---
layout: grid
---

<div class="main">
	<ul id="og-grid" class="og-grid">
		{% for tool in site.data.tools %}
		<li>
			<a href="{{ tool.url }}" data-largesrc="{% if tool.img2 %}{{site.baseurl}}/img/{{tool.img2}}{% else %}{{site.baseurl}}/img/{{tool.img}}{% endif %}" data-title="{{ tool.title }}" data-description="{{ tool.description }}" data-tags="{{tool.tags}}">
				<img src="{% if tool.img %}{{site.baseurl}}/img/{{tool.img}}{% else %}images/thumbs/1.jpg{% endif %}" alt="{{ tool.title }}"/>
			</a>
		</li>
		{% endfor %}
	</ul>
	<p>Filler text by <a href="http://veggieipsum.com/">Veggie Ipsum</a></p>
	<a id="og-additems" href="#">add more</a>
</div>