<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div class="container">	
			{% comment %}
			<!-- Codrops top bar -->
			<div class="codrops-top clearfix">
				<a href="http://tympanus.net/Tutorials/HexaFlip/"><strong>&laquo; Previous Demo: </strong>HexaFlip</a>
				<span class="right">
					<a href="http://cargocollective.com/jaimemartinez">Illustrations by Jaime Martinez</a>
					<a href="http://tympanus.net/codrops/?p=14530"><strong>Back to the Codrops Article</strong></a>
				</span>
			</div><!--/ Codrops top bar -->
			{% endcomment %}
			
			{% include header.html %}

			{{content}}


		</div><!-- /container -->
		{% include scripts.html %}
	</body>
</html>